---
import Navigation from "@layouts/Navigation.astro";
import Greeting from "@components/Greetings.tsx"
---
<Navigation title="Hello, world">
	<h1>Hello, world!</h1>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</Navigation>
